html,
body{
	font-family: Arial;
	height: 100%;
	margin: 0;
	padding: 0;
}

.container{
	height: 100%;
	position: relative;

}

#map{
	height: 100%;
	bottom: 0px;
	left: 362px;
	right: 0px;
	position: relative;
	overflow: hidden;
	width: 100%;
}

input{
	font-size: 12px;
}

h1{
	color: #525454;
	font-size: 22px;
	margin: 0 0 10px 0;
	text-align: center;
}

.options{
	background: #fff;
	border: 1px solid #999;
	border-radius: 3px;
	height: 100%;
	line-height: 35px;
	padding: 10px 10px 30px 10px;
	text-align: center;
	display: block;
	width: 340px;
	position: absolute;
	overflow: auto;
}

.search-spot{
	border-radius: 1.2em;
	height: 30px;
	width: 84%;
	padding: 10px;

	font-size: 12px;
	border-style: solid;
}

.square-search{
	text-align: center;
	width: 80%;
}

.results{
	margin: 5px;
	padding: 8px;
}

.food-item{
	font-size: 20px;
	list-style: none;
	padding: 5px;
	margin: 10px 0px 7px 0px;
	border-style: solid;

}

/* Media Queries */

@media all and (min-width: 70em){
	.options{
		max-width: 100%;
		width: 30%;
	}
	#map{
		width: 100%;
		max-width: 100%;
	}
}

@media all and (min-width: 35em) and (max-width: 47em){
	.options{
		max-width: 30%;
		width: 30%;
		font-size: 16px;
	}
	.food-item{
		font-size: 16px;
		padding: 0px;
		margin: auto;
	}
	#map{
		width: 100%;
		max-width: 100%;
	}
}
@media all and (min-width: 50em){
	.options{
		width: 25%;
		float: none;
	}
	#map{
		width: 100%;
		max-width: 100%;
	}
}

@media all and (min-width: 13em) and (max-width: 34em){
	.options{
		max-width: 30%;
		width: 30%;
		font-size: 12px;
	}
	.food-item{
		font-size: 12px;
		padding: 0px;
		margin: auto;
	}
	#map{
		width: 100%;
		max-width: 100%;
	}
}
